table{
    width: 100px 100px;
    }

    table {
        border: 1px solid;
        border-radius: 1px;
        width: 420px;
        height: 50px; 
    }
    tr,td {
        border-radius: 1px;
        border: 2px solid rgb(27,4,4);
        text-align: center;
        width: 320px;
        height: 40px;
    }

    li{
        padding-left: 15px;
        margin: 5px;
    }
    .text{
        font-weight: 750;
    }